@charset "UTF-8";

:root{

    --cor001:#2b2b2e;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size:62.5% ; /*10px*/
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;

   

    display: flex;
    flex-direction: column;
    
    align-items: center;
}

header{
    height: 80px;
    width: 100%;
    background-color: var(--cor001);
    margin-bottom: 40px ;
    

    display: flex;
    align-items: center;
    justify-content: right;
    
    
}

header > .help > a{
    background-color: #0051ff;
    height: 6rem;
    width: 13rem;
    color: white;
    

    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    cursor: pointer;

    text-decoration: none;
    text-align: center;
    font-size: 1.4rem;

    transform: translate(-50px, 0px);
}

.help > a:hover{
    background-color: #023cb9;
}





.help > a > i{
    color: #ffffff;
    font-size: 3rem;
    
}

header > p{
    color: white;
    
    font-size: 2rem;
    margin: 2rem;
    
    
}

header > p > a{
    text-decoration: none;
    color: white;
    
}

.box-form{
    background-color: #2b2b2e;
    padding: 10px;

    width: 270px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-form > i{
   font-size: 10rem;
   color: white;
}

.box-form > h1{
    font-size: 2.5rem;
    margin: 10px;
    color: white;
}

.box-form > form{
    
    width: 250px;
    

    display: flex;
    flex-direction: column;
}

.box-form > form > input {
    padding: 10px;
    margin: 5px;
    font-size: 1.3rem;
    outline: none;
    border: none;
}

.box-form > form > label{
    display: none;
}



